
  body {
    background-color: #A8DADC;
    color: #024959;
  }
  h1 {
  border: 2px solid #024959;
  color:#024959;
  text-align: center;
  padding: 50px;
  font-size: 2.5em;
  background-color: #457B9D;
}
h2, h3 {
  margin-left: 20%;
  margin-right: 3%;
}
p {
  font-size: .5em;
  font-weight: normal;
  margin-left: 20%;
  margin-right: 3%;
  padding: 10px;
  color: #1D3557;
  border: solid 2px #1D3557;
}
form {
  display: flex;
  flex-direction: column;
}
div {
  margin-left: 20%;
  margin-right: 10%;
  padding: 10px;
  display: block;
}
label {
  font-weight: bold;
}
#font-size {
  margin-left: 25%;
}
#listcontainer {
  margin: 20px;
  padding: 20px;
}
  .menu {
  display: flex;
  flex-direction: column;
  float: left;
  background-color: #457B9D;
  text-decoration: none;
  margin: auto;
  list-style: none;
  padding: unset;
}

a:hover {
  color: #024959;
}
ul.menu li {
  list-style: none;
  padding: 10px;
  margin: 20px;
  background-color: #F29F05;
  color: #024959;
  transition: background-color 1.5s, color 1s;
}

.menu li:hover {
  background-color: #024959;
  color: #F2BA52;
}
  
.menu a {
  color: inherit;
  text-decoration: none;
}
